# # import the neccessary modules

In [63]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import pickle

# Load Data

In [64]:
 df = pd.read_csv('../1.Data/1.Raw/bank-additional-full.csv', sep=";")

In [65]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [66]:
df.shape

(41188, 21)

# Rename Columns for Convenience

In [67]:
df.columns = [x.replace('.', '_') for x in df.columns]

# Check Missing Values

In [68]:
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
y                 0
dtype: int64

No missing values

# Check for data inconsistencies and drop unknowns

In [69]:
df_def_unknown = df[df.default.isin(["unknown"])].index

In [70]:
dfclean = df.drop(df_def_unknown)

In [71]:
dfclean.default.value_counts()

no     32588
yes        3
Name: default, dtype: int64

In [72]:
df_def_marital = dfclean[dfclean.marital.isin(["unknown"])].index

In [73]:
dfclean = dfclean.drop(df_def_marital)

In [74]:
dfclean.marital.value_counts()

married     18658
single      10083
divorced     3781
Name: marital, dtype: int64

In [75]:
df_def_education = dfclean[dfclean.education.isin(["unknown"])].index

In [76]:
dfclean = dfclean.drop(df_def_education)

In [77]:
dfclean.education.value_counts()

university.degree      10688
high.school             7891
professional.course     4434
basic.9y                4411
basic.4y                2471
basic.6y                1438
illiterate                11
Name: education, dtype: int64

In [78]:
df_def_default = dfclean[dfclean.default.isin(["unknown"])].index

In [79]:
dfclean = dfclean.drop(df_def_default)

In [80]:
dfclean.default.value_counts()

no     31341
yes        3
Name: default, dtype: int64

In [81]:
df_def_housing = dfclean[dfclean.housing.isin(["unknown"])].index

In [82]:
dfclean = dfclean.drop(df_def_housing)

In [83]:
dfclean.housing.value_counts()

yes    16577
no     14027
Name: housing, dtype: int64

In [84]:
df_def_loan = dfclean[dfclean.loan.isin(["unknown"])].index

In [85]:
dfclean = dfclean.drop(df_def_loan)

In [86]:
dfclean.loan.value_counts()

no     25810
yes     4794
Name: loan, dtype: int64

In [87]:
dfclean.to_csv("../1.Data/2.Clean/clean.csv", index=False)

In [88]:
dfclean.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [95]:
dfclean.contact.value_counts()

cellular     20514
telephone    10090
Name: contact, dtype: int64